@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("(?!.*\\.pdf).*") {
    body {
        text-shadow: 0px 0px 1px #909090 !important;
    }
}

@-moz-document regexp("^http(s)?://((www|gist|help|status).)?github.*") {
    body, input, select, textarea, button {
        font-family: Lato !important;
    }
}

@-moz-document regexp("^http(s)?://www.evernote.com.*") {
    body, input, select, textarea, button {
        font-family: Lato !important;
    }
}

@-moz-document regexp("^http(s)?://.*digg.com/reader.*") {
    body, .detail-body {
        font-family: Lato !important;
    }
}

@-moz-document regexp("^http(s)?://.*djangoproject.com.*") {
    body {
        font-family: Lato !important;
    }
}

@-moz-document regexp("^http(s)?://dillinger.io.*") {
    body, p {
        font-family: Lato !important;
    }
    code, .ace_editor {
        font-family: Consolas !important;       
    }
}
