- name: create /etc/pip.conf
  file: src=/home/{{user}}/.sysconf/etc/pip.conf dest=/etc/pip.conf state=link force=true

- name: install python packages
  pip:
    name:
      - black
      - docker==4.4.4
      - isort
      - pipdeptree
      - uv
      - yq==2.13.0
    executable: pip3
    extra_args: --break-system-packages
