- name: set pip index url
  shell: pip3 config set global.index-url https://pypi.tuna.tsinghua.edu.cn/simple

- name: install python packages
  pip:
    name:
      - black==20.8b1
      - docker==4.4.4
      - isort==5.7.0
      - yq==2.13.0
    executable: pip3
    extra_args: --break-system-packages
