"*":
  "atom-package-deps":
    ignored: [
      "atom-typescript"
    ]
  "atom-typescript": {}
  core:
    allowPendingPaneItems: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "Courier Prime Code"
    fontSize: 13
    tabLength: 4
  "exception-reporting":
    userId: "8ec12503-2aa0-403f-bab3-b74d5d36834e"
  packages: [
    "atom-ide-ui"
    "atom-material-syntax-dark"
    "atom-typescript"
    "city-lights-syntax"
    "sort-lines"
    "vim-mode-plus"
  ]
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
