[mysqld]
server_id=1 # 2

binlog_expire_logs_seconds=2592000
binlog_format=row
character_set_server=utf8mb4
collation_server=utf8mb4_bin
default_time_zone=+08:00
log_bin=mysql-bin
lower_case_table_names=1
max_allowed_packet=100m
max_connections=500
mysqlx=0
secure_file_priv=/tmp
sql_mode=ansi

# storage engine settings
default_storage_engine=innodb
innodb_default_row_format=dynamic
innodb_file_per_table=on
innodb_flush_log_at_trx_commit=2

# master-slave settings
auto_increment_increment=2
auto_increment_offset=1 # 2
enforce_gtid_consistency=on
gtid_mode=on
log_slave_updates=on
slave_skip_errors=all
