@-moz-document regexp("^http(s)?://((www|gist|help|status).)?github.*") {
    body, input, select, textarea, button, .markdown-body {
        font-family: sans-serif !important;
    }

    tt, code, pre, .blob-code, .blob-line-code, .diff-line-code {
        font-family: monospace !important;
    }

    .blob-code-inner {
        font-size: 13px;
    }

    .new-user-avatar-cta {
        display: none;
    }
}

@-moz-document regexp("^https?://[^/]*(.+usemyfont|docs.microsoft.com|stackoverflow.com|console.aws.amazon.com|bitbucket.org|infoq.com|digg.com/reader|google.[.a-z]+/|readthedocs.org|highscalability.com|qingcloud.com).*") {
    *:not(i) {
        font-family: sans-serif !important;
    }

    pre, code, pre *, code * {
        font-family: monospace !important;
    }
}
