@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("(?!.*\\.pdf).*") {
    body, h1 {
        /* text-shadow: 0px 0px 1px #999 !important; */
    }
}

@-moz-document regexp("^http(s)?://((www|gist|help|status).)?github.*") {
    body, input, select, textarea, button, .markdown-body {
        font-family: sans-serif !important;
    }
    tt, code, pre, .blob-code, .blob-line-code, .diff-line-code {
       font-family: monospace !important;
    }
    .blob-code-inner {
       font-size: 13px;
    }
}

@-moz-document regexp("^http(s)?://[^/]*(bitbucket.org|infoq.com|digg.com/reader|.google.[\.a-z]+/|readthedocs.org|highscalability.com|36kr.com|qingcloud.com).*") {
    *:not(.fa) {
        font-family: sans-serif !important;
    }
    pre, code {
        font-family: monospace !important;
    }
}
