name: build docker images
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: login registry
        run: echo ${{secrets.DOCKER_HUB_PASSWORD}} | docker login -u wizawu --password-stdin

      - name: build proxy image
        run: echo docker build docker/proxy -t wizawu/proxy:latest

      - name: push proxy image
        run: echo docker push wizawu/proxy:latest
